<div class="card">
    <h3>
        <%- car.make %> <%- car.model %>
                <em><%- car.status %> </em>
    </h3>
    <p>VIN: <%- car.VIN %> </p>
    <p>Year: <%- car.year %> </p>
    <p>Rental Fee: IDR. <%- car.rentalFee %> </p>
    <a href="/" class="back-link">Back to List</a>
</div>